venv/*
.DS_Store
.jekyll-cache/
.sass-cache/
.idea/
book/_build/
.Rproj.user
.Rdata
.Rhistory
*.Rproj
.ipynb_checkpoints
*.ipynb
experiments/
data/
__pycache__/
book/images/combining_funnel_interactive_files/
!book/_build/.jupyter_cache/
!book/_build/.jupyter_cache/executed/*/*.ipynb
